
#Serverconfig
server:
  applicationConnectors:
    - type: https
      port: 
      # Database settings.
database:
  # the name of the JDBC driver,
  driverClass: com.mysql.cj.jdbc.Driver
  # mysql username
  user: 
  # mysql password
  password:
  #root
  # the JDBC URL;  jdbc:mysql://ip:port/databasename
  url: 
location:
  #location of the gate
  location_lat:
  location_lon:
  #max distance to the gate (min. 10) in meter
  maxdistance:



