#Serverconfig
server:
  applicationConnectors:
    - type: https
      port:
      keyStorePath:
      keyStorePassword:
      validateCerts: false
# Database settings.
database:
  # the name of the JDBC driver,
  driverClass: com.mysql.cj.jdbc.Driver
  # mysql username
  user: 
  # mysql password
  password:
  #root
  # the JDBC URL;  jdbc:mysql://ip:port/databasename
  url:
serversecret:
  #server secret. Must be the same value as in the Client!
  #DO NOT CHANGE IT UNLESS YOU KNOW WHAT YOU ARE DOING
  secretKey:
location:
  #location of the gate
  location_lat:
  location_lon:
  #max distance to the gate (min. 10) in meter
  maxdistance:



